.LOGO{
    margin: 240px auto;
    text-align: center;
    img{
        width: 200px;
        height: 200px;
        animation: loading 3s linear 0s infinite ; 
        animation-direction: alternate;
    }
    
}

@keyframes loading {
    0%{
        transform: rotate(-20deg);
    }
    10%{
        transform: rotate(-20deg);
    }
    20%{
        transform: rotate(20deg);
    }
    30%{
        transform: rotate(-20deg);
    }
    40%{
        transform: rotate(20deg);
    }
    50%{
        transform: rotate(-20deg);
    }
    60%{
        transform: rotate(20deg);
    }
    70%{
        transform: rotate(-20deg);
    }
    80%{
        transform: rotate(20deg);
    }
    90%{
        transform: rotate(-20deg);
    }
    100%{
        transform: rotate(20deg);
    }
      
}